/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
body {
  background-image: linear-gradient(#140330, #290661);
  height: 500vh;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  z-index: -1;
}
.form-control:focus {
  border-color: #d63384;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(214, 51, 132, 0.6);
}
.btn-purple {
  background: #e14eca;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #e14eca;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #fff;
  border: none;
  position: relative;
  overflow: hidden;
  margin: 4px 1px;
  border-radius: 0.4285rem rem;
}
.indigo-800 {
  color: #290661;
}
.indigo-900 {
  color: #140330;
}
.bg-indigo-800 {
  background-color: #290661;
}
.bg-indigo-900 {
  background-color: #140330;
}
.ip-group--first {
  border-radius: 20px 0 0 20px;
}
.ip-group--last {
  border-radius: 0;
}
.ip-group--button {
  border-radius: 0 20px 20px 0;

  /* position: absolute;
    display: inline; */
  /* margin-left: 200px; */
}
.btn--purple-hover:hover {
  border-color: #d63384 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(214, 51, 132, 0.6);
}
.first {
  height: 100vh;
}

.second {
  position: relative;
  margin-top: -150px;
}
.second__top {
  /* position: absolute; */
  /* left: 0; */
  border-radius: 50% 50% 0 0;
  /* width: 100%; */
  height: 150px;
}
.second__main {
  top: 0;
  /* height: 100vh; */
}
.code-window__code {
  background-color: #290661;
  opacity: 0.8;
}
/* .code__header {
  height: 10px;
} */
code {
  opacity: 1;
  color: white;
}
.fourth .card hr {
  border: none;
  height: 5px;
  width: 100% !important;
}
.fourth .card ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}
.fourth .card i {
  float: right;
}
.fourth .card--second {
  margin-top: -10px;
}

button[aria-expanded="true"] .fa-arrow-right {
  display: none;
}
button[aria-expanded="false"] .fa-arrow-down {
  display: none;
}

.ninth input,
.ninth textarea {
  background-color: transparent;
  color: white;
}
@media screen and (max-width: 768px) {
  .first__lookup__ip-group {
    width: 100% !important;
  }
  .first__footer {
    border-radius: 10% 10% 0 0;
  }
}
