.first {
  height: 100vh;
}
.first__background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  z-index: -1;
}
.first__input--middle {
  border-radius: 0;
}
.first__input--first {
  border-radius: 20px 0 0 20px;
}
.first__input--first::-webkit-input-placeholder {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}
.first__input--last {
  border-radius: 0;
}
.first__input--last[type="number"] {
  text-align: right !important;
  padding-right: 1rem;
}
.first__input--button {
  border-radius: 0 20px 20px 0;
}

.second {
  position: relative;
  margin-top: -150px;
}
.second__top {
  border-radius: 50% 50% 0 0;
  height: 150px;
}
.code-window__code {
  background-color: #290661;
  opacity: 0.8;
}
.fourth .card hr {
  border: none;
  height: 5px;
  width: 100% !important;
}
.fourth .card ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}
.fourth .card i {
  float: right;
}
.fourth .card--selected {
  margin-top: -10px;
}

button[aria-expanded="true"] .fa-arrow-right {
  display: none;
}
button[aria-expanded="false"] .fa-arrow-down {
  display: none;
}

.ninth input,
.ninth textarea {
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 768px) {
  .first__input {
    width: 100% !important;
  }
  .second__top {
    font-size: 0.7rem;
  }
}
